# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv
*.egg-info/
dist/
build/

# Django
*.sqlite3
*.db
db.sqlite3
/media
/staticfiles
local_settings.py
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log